--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
pydantic
python-dotenv

google-genai

torch==2.5.1+cpu
sentence-transformers==2.2.2
huggingface_hub==0.16.4

faiss-cpu
numpy

PyMuPDF
aiofiles
python-multipart

