--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn
pydantic
python-dotenv

google-generativeai

torch==2.1.2+cpu
sentence-transformers==2.2.2
faiss-cpu
numpy

PyMuPDF
aiofiles
python-multipart
